# Visual Studio
.vs/
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
Debug/
Release/

# Rider / ReSharper
_ReSharper*/
*.DotSettings.user

# OS
Thumbs.db
.DS_Store